.DS_Store

.netrwhist
config/nvim/sessions
config/coc
config/vue
config/TabNine
config/configstore
config/gcloud
config/htop
config/wireshark
config/yarn
config/powerline-shell
config/karabiner

*.bak
*.swp
*.swo
